<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<p>Type something in the input field to search the table for query or emails:</p>  
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Query</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for item in data%}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="/">Go to WeBot!</a>
 
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
</body>
</html>